/* =================== Theme Switch ==================== */
/* https://web.dev/patterns/theming/theme-switch/#css    */

#theme-toggle {
    background-color: transparent;
    width: fit-content;
    border: none;
    border-radius: var(--radius-full);
    transition: scale 0.25s ease;
}

#theme-toggle:is(:hover, :focus-visible) {
    scale: 1.2;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
    transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
    fill: var(--colour-text, currentColor);
}

.sun-and-moon > .sun-beams {
    stroke: var(--colour-text, currentColor);
    stroke-width: 2px;
}

[data-theme='dark'] .sun-and-moon > .sun {
    transform: scale(1.75);
}

[data-theme='dark'] .sun-and-moon > .sun-beams {
    opacity: 0;
}

[data-theme='dark'] .sun-and-moon > .moon > circle {
    transform: translateX(-7px);
}

@supports (cx: 1) {
    [data-theme='dark'] .sun-and-moon > .moon > circle {
        cx: 17;
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon > .sun {
        transition: transform 0.5s ease;
    }

    .sun-and-moon > .sun-beams {
        transition:
            transform 0.5s ease,
            opacity 0.5s ease;
    }

    .sun-and-moon .moon > circle {
        transition: transform 0.25s ease-out;
    }

    @supports (cx: 1) {
        .sun-and-moon .moon > circle {
            transition: cx 0.25s ease-out;
        }
    }

    [data-theme='dark'] .sun-and-moon > .sun {
        transition-timing-function: ease;
        transition-duration: 0.25s;
        transform: scale(1.75);
    }

    [data-theme='dark'] .sun-and-moon > .sun-beams {
        transition-duration: 0.15s;
        transform: rotateZ(-25deg);
    }

    [data-theme='dark'] .sun-and-moon > .moon > circle {
        transition-duration: 0.5s;
        transition-delay: 0.25s;
    }
}

/* ===================================================== */
