{{range .Projects -}}
<li class="card">
    <a class="card-link" href="{{.Url}}" aria-label="{{.Title}} on {{.Host}}" target="_blank" rel="noreferrer"></a>
    {{if and .Image.Src .Image.Alt -}}
    <img class="card-feature-image" {{.Image.Src}} {{.Image.Alt}} height="192">
    {{- end}}
    <div class="card-detail-section">
        <h3 class="card-title">{{.Title}}</h3>
        {{if or .Language .Logo -}}
        <div class="card-detail">
            {{if .Language -}}
            <span class="card-language-colour" style="background-color: {{.Language.Colour}};"></span>
            <p class="card-language-name">{{.Language.Name}}</p>
            {{- end}}
            {{if .Logo -}}
            {{.Logo}}
            {{- end}}
        </div>
        {{- end}}
    </div>
    {{if .Description -}}
    <p class="card-description">{{.Description}}</p>
    {{- end}}
    {{if .Topics -}}
    <div class="card-topics topic-wrapper">
        {{range .Topics -}}
        <span class="chip">{{.}}</span>
        {{- end}}
    </div>
    {{- end}}
</li>
{{else -}}
<p>No projects found.</p>
{{- end}}
