/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body.dark {
        --text: #d8f3ed;
        --background: #192926;
        --primary: #4dffd2;
        --secondary: #283c37;
        --accent: #d8f3ed;
    }

    body:not(.dark) {
        --text: #011309;
        --background: #d7f1ec;
        --primary: #0b7956;
        --secondary: #bcd3cc;
        --accent: #0b7956;
    }
}

@layer components {
    body {
        @apply container transition-all w-screen min-h-screen overflow-x-hidden mx-auto antialiased leading-relaxed bg-background text-text selection:bg-primary selection:text-secondary lg:flex lg:justify-between motion-reduce:transition-none;
    }

    header {
        @apply flex flex-wrap items-center border-b border-primary gap-x-2 justify-between px-6 max-lg:sticky max-lg:top-0 max-lg:bg-inherit max-lg:z-50 mx-auto md:px-12 lg:py-24 lg:sticky lg:top-0 lg:max-h-screen lg:flex-col lg:items-start lg:pl-24 lg:pr-0 lg:w-[33.333333%] lg:border-none lg:flex-nowrap;
    }

    h1 {
        @apply text-3xl font-heading md:text-4xl font-bold;
    }

    nav {
        @apply max-lg:hidden;
    }

    #internal-links a {
        @apply hover:underline;
    }

    #external-links {
        @apply flex gap-2 flex-row my-3;
    }

    #external-links li,
    #external-links li a,
    #external-links .logo,
    #theme-toggle,
    #theme-toggle svg {
        @apply h-6 w-6 md:h-8 md:w-8 block;
    }

    main {
        @apply flex flex-col flex-grow p-6 mx-auto md:px-12 lg:pl-0 lg:pr-24 lg:py-24 lg:max-w-[66.666667%] lg:ml-20 lg:w-0;
    }

    section {
        @apply flex flex-col gap-8 pb-8 scroll-mt-28 lg:gap-16 lg:pb-16 lg:scroll-mt-24;
    }

    footer {
        @apply flex flex-col gap-4 pb-0;
    }

    .heading {
        @apply flex items-center gap-6 min-h-[45px];
    }

    .heading h2 {
        @apply text-2xl font-heading;
    }

    .heading hr {
        @apply flex-grow border-accent opacity-40;
    }

    #profile {
        @apply flex flex-col gap-6 flex-nowrap sm:flex-row sm:gap-8 md:gap-12;
    }

    #profile img {
        @apply m-auto aspect-square h-36 md:h-48;
    }

    #profile div {
        @apply justify-center flex flex-col gap-3 md:gap-6;
    }

    #experience ol {
        @apply flex flex-col gap-16;
    }

    #experience ol:has(.experience-item:hover) .experience-item:not(:hover) {
        @apply opacity-50 motion-reduce:opacity-100;
    }

    .experience-item {
        @apply relative grid sm:grid-cols-4 sm:gap-8 md:gap-4 w-full transition-opacity duration-500 motion-reduce:transition-none;
    }

    .experience-item .date-range {
        @apply mb-2 mt-1 text-sm uppercase tracking-wide sm:col-span-1 font-heading;
    }

    .experience-item > div {
        @apply sm:col-span-3;
    }

    .experience-item .logo {
        @apply w-6 h-6 block max-w-none;
    }

    .experience-title {
        @apply flex flex-row flex-nowrap gap-2 items-center text-xl max-w-fit;
    }

    .experience-item:not(.education) h4:not(.current) {
        @apply opacity-60;
    }

    .experience-item .topic-wrapper {
        @apply pt-2;
    }

    #project-gallery {
        @apply flex flex-row flex-wrap gap-8;
    }

    #project-gallery:has(:hover) .card:not(:hover) {
        @apply opacity-50 motion-reduce:opacity-100;
    }

    .loader {
        @apply rounded-full animate-spin w-8 h-8 border-4 border-primary border-t-background m-auto;
    }

    .card {
        @apply flex flex-col gap-6 relative bg-secondary rounded-xl p-6 flex-grow max-w-full focus-visible:scale-105 transition-all motion-reduce:focus-visible:scale-100 duration-500 motion-reduce:duration-0;
    }

    .card:hover {
        @apply shadow-[0_0_12px_0px_var(--primary)] scale-105 motion-reduce:scale-100;
    }

    .card-link {
        @apply absolute inset-0 rounded-xl;
    }

    .card-feature-image {
        @apply object-cover w-full max-h-48 rounded-lg;
    }

    .card-detail-section,
    .card-detail {
        @apply flex flex-row justify-between items-center gap-3 overflow-hidden;
    }

    .card-detail-section {
        @apply w-full flex-wrap;
    }

    .card-title {
        @apply truncate w-fit tracking-tight text-lg font-heading flex gap-2;
    }

    .card-detail {
        @apply w-min justify-start;
    }

    .card-detail .logo {
        @apply w-6 h-6 block;
    }

    .card-description {
        @apply max-w-full w-fit truncate;
    }

    .btn,
    .chip {
        @apply w-fit px-3 py-1 border-none rounded-full font-heading inline-flex flex-row flex-nowrap gap-2 leading-4 align-baseline font-medium focus-visible:scale-110 transition-all duration-500 motion-reduce:focus-visible:scale-100 motion-reduce:transition-none;
    }

    .btn {
        @apply bg-secondary dark:bg-accent dark:text-background;
    }

    .chip {
        @apply bg-primary text-background cursor-default;
    }

    a.chip {
        @apply cursor-pointer;
    }

    a:is(.btn, .chip):hover {
        @apply shadow-background shadow-md scale-110 motion-reduce:scale-100 motion-reduce:shadow-none;
    }

    .topic-wrapper {
        @apply flex flex-wrap flex-row gap-1 text-xs;
    }

    #tools ul,
    #tools div:not(:first-of-type) {
        @apply flex flex-row flex-wrap gap-1;
    }

    .btn .logo {
        @apply h-4 w-4 block;
    }

    #copyright {
        @apply pt-4;
    }

    :is(.experience-title, .card-title)::after {
        content: "↗";
        @apply scale-110 font-heading opacity-0 transition-opacity duration-500 motion-reduce:duration-0;
    }

    .card:hover .card-title::after,
    .experience-title:hover::after {
        @apply opacity-100;
    }

    a:is(.chip, .btn)::after {
        content: "↗";
        @apply scale-110 font-heading;
    }
}
