<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    {{ template "head" .}}
</head>

<body class="dark">
    <header>
        <h1>
            <a href="/"> /ND </a>
        </h1>
        <nav>
            <ul id="internal-links" aria-label="internal links">
                {{range .InternalLinks -}}
                <li>
                    <a href="{{.URL}}">{{.Label}}</a>
                </li>
                {{- end}}
            </ul>
        </nav>
        <ul id="external-links" aria-label="external links">
            {{range .ExternalLinks -}}
            <li>
                <a href="{{.URL}}" target="_blank" rel="noreferrer">
                    {{if .Logo -}}
                    {{.Logo}}
                    {{- else -}}
                    {{.Label}}
                    {{- end}}
                </a>
            </li>
            {{- end}}
            <li>
                {{ template "theme-switch" .}}
            </li>
        </ul>
    </header>

    <main>
        <section id="about">
            <div class="heading">
                <h2>About</h2>
                <hr>
            </div>
            <div id="profile">
                <img alt="Profile Image" {{range .Profile.ImageAttr}}{{.}}{{end}} height="192">
                <div>
                    {{range .Profile.Paragraphs -}}
                    <p>{{.}}</p>
                    {{- end}}
                </div>
            </div>
        </section>

        <section id="experience">
            <div class="heading">
                <h2>Experience</h2>
                <hr>
            </div>
            <ol>
                {{range .Experiences -}}
                <li class="experience-item{{if .Education}} education{{end}}">
                    <span class="date-range">{{.Date.Start}} - {{.Date.End}}</span>
                    <div>
                        <a class="experience-title" href="{{.Link.URL}}" target="_blank" rel="noreferrer">
                            {{.Link.Logo}}
                            <h3>{{.Link.Label}}</h3>
                        </a>
                        {{range .Positions -}}
                        <h4 {{if .Current}}class="current"{{end}}>{{.Title}}</h4>
                        {{- end}}
                        {{if .Knowledge -}}
                        <div class="topic-wrapper">
                            {{range .Knowledge -}}
                            {{if .URL}}
                            <a class="topic" href="{{.URL}}" target="_blank" rel="noreferrer">{{.Label}}</a>
                            {{- else -}}
                            <span class="topic">{{.Label}}</span>
                            {{- end}}
                            {{- end}}
                        </div>
                        {{- end}}
                    </div>
                </li>
                {{- end}}
            </ol>
            <a class="btn" href="/markdown?file=/documents/Resume.md" target="_blank" rel="noreferrer">
                Full Resume &RightArrow;
            </a>
        </section>

        <section id="projects">
            <div class="heading">
                <h2>Projects</h2>
                <hr>
            </div>
            <ul id="project-gallery" hx-get="/api/projects?host=github&host=bgg&host=cults3d" hx-trigger="load">
                <span class="loader"></span>
            </ul>
        </section>

        <footer>
            {{range .ToolSections -}}
            <div id="tools">
                <h3>{{.Title}}</h3>
                <ul>
                    {{range .Links -}}
                    <li>
                        <a class="btn" href="{{.URL}}" target="_blank" rel="noreferrer">
                            {{.Logo}}
                            <p>{{.Label}}</p>
                        </a>
                    </li>
                    {{- end}}
                </ul>
            </div>
            {{- end}}
            <p id="copyright"> {{.Copyright}} </p>
        </footer>
    </main>
</body>

</html>
