@font-face {
    display: swap;
    font-family: 'Oxygen Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/OxygenMono.woff2') format('woff2');
    unicode-range: U+0000-00FF;
}

@font-face {
    display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/JosefinSans.woff2') format('woff2');
}

:root {
    color-scheme: dark;

    --font-header: 'Oxygen Mono', 'Courier New', courier, monospace;
    --font-body: 'Josefin Sans', 'Segoe UI', tahoma, geneva, verdana, sans-serif;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2.25rem;
    --unit-size: 0.75rem;
    --unit-size-1-2: calc(var(--unit-size) / 2);
    --unit-size-2: calc(var(--unit-size) * 2);
    --unit-size-3: calc(var(--unit-size) * 3);
    --unit-size-4: calc(var(--unit-size) * 4);
    --radius-small: 0.5rem;
    --radius-large: 0.75rem;
    --radius-full: 100rem;
    --colour-primary: #4fffd3;
    --colour-on-primary: #000;
    --colour-background: #fff;
    --colour-text: #104537;
    --colour-border: #29695940;
    --colour-github: #000;
    --colour-linkedin: #0077b5;
    --colour-facebook: #0866ff;
    --colour-discord: #5865f2;
    --colour-boardgamegeek: #ff5100;
    --colour-cults3d: #822ef5;
    --colour-gentrack: #0d8;
    --colour-proquip: #f8ca10;
    --colour-melbourneuniversity: #040c44;
}

/* dark theme */
[data-theme='dark'] {
    --colour-background: #182825;
    --colour-text: #d7f2ec;
    --colour-border: #d7f2ec40;
    --colour-github: #fff;
}

/* ===================== CSS Reset ===================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    accent-color: var(--colour-primary);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    color: currentcolor;
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* ===================================================== */

h1 {
    font-family: var(--font-header);
    font-size: var(--font-size-xl);
    line-height: var(--unit-size-4);
}

h2,
h3,
a {
    display: block;
    border-radius: 2px;
    font-family: var(--font-header);
    font-size: var(--font-size-medium);
    line-height: var(--unit-size-2);
    text-transform: lowercase;
}

a {
    color: var(--colour-text);
    text-decoration: underline;
    transition: scale 0.25s ease;
}

a:is(:hover, :focus-visible) {
    background-color: var(--colour-primary) !important;
    color: var(--colour-on-primary) !important;
    cursor: pointer;
    outline: auto;
}

hr {
    height: 1px;
    max-height: 1px;
    flex-grow: 1;
    border: none;
    background-color: var(--colour-border);
}

section,
span {
    width: 100%;
}

hgroup,
footer {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-top: var(--unit-size-3);
    padding-left: var(--unit-size);
    background-color: var(--colour-background);
    gap: var(--unit-size);
    transition:
        padding 0.25s ease,
        background-color 0.25s ease;
}

@media (width <= 960px) {
    hgroup,
    footer {
        top: calc(5.5 * var(--unit-size));
        padding-top: var(--unit-size-2);
    }

    hgroup:not(:first-of-type) {
        padding-top: var(--unit-size-2);
    }
}

/* Move top of sticky down for overflow of top nav increasing it's height */
@media (width <= 792px) {
    hgroup,
    footer {
        top: calc(9.5 * var(--unit-size) - 1px);
    }
}

@media (width <= 484px) {
    hgroup,
    footer {
        top: calc(11.5 * var(--unit-size) - 1px);
    }
}

::selection {
    background-color: var(--colour-primary);
    color: var(--colour-on-primary);
}

/* Hide from DOM, will only show to screen readers */
.sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* =============== Nav and Main Resizing =============== */

body {
    display: flex;
    min-height: 100%;
    align-items: flex-start;
    background-color: var(--colour-background);
    color: var(--colour-text);
    font-family: var(--font-body);
    font-size: var(--font-size-medium);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    gap: 0 var(--unit-size-2);
    line-height: var(--unit-size-2);
    transition:
        color 0.25s ease,
        background-color 0.25s ease;
}

nav {
    position: sticky;
    z-index: 1;
    top: -1px;
    display: flex;
    min-width: fit-content;
    max-width: 20.25rem;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--unit-size-3);
    padding-bottom: 0;
    gap: var(--unit-size-3);
    transition: padding 0.25s ease-in-out;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

@media (width <= 960px) {
    body {
        flex-direction: column;
    }

    nav {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        flex-flow: row wrap;
        align-items: center;
        padding: var(--unit-size-2);
        padding-bottom: var(--unit-size-1-2);
        background-color: var(--colour-background);
        box-shadow: 0 var(--unit-size-1-2) var(--unit-size-1-2) var(--colour-background);
        gap: var(--unit-size) var(--unit-size-4);
    }
}

/* ==================== Nav Styling ==================== */

nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit-size-1-2) var(--unit-size);
    list-style: none;
}

#internal-links {
    flex-direction: column;
}

@media (width <= 960px) {
    #internal-links {
        flex-direction: row;
        align-items: flex-start;
    }
}

/* ================== Section Styling ================== */

section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: var(--unit-size-2);
    padding-bottom: 0;
    gap: var(--unit-size-2);
}

/* =================== Card Styling ==================== */

.card {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--unit-size-2);
    border: 2px solid var(--colour-primary);
    border-radius: var(--radius-large);
    box-shadow: 0 0 10px 0 var(--colour-border);
    gap: var(--unit-size-2);
}

.card-feature-image {
    width: 100%;
    height: calc(var(--unit-size) * 16);
    border-radius: var(--radius-small);
    object-fit: cover;
}

.card-heading,
.card-description {
    display: block;
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
    flex-grow: 1;
    color: var(--colour-text);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-detail-group {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--unit-size);
}

.card-detail {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0 var(--unit-size);
}

.card-detail > .card-detail {
    width: fit-content;
    gap: var(--unit-size);
}

.card-language-colour {
    width: var(--unit-size);
    height: var(--unit-size);
    border: 1px solid var(--colour-border);
    border-radius: var(--radius-full);
}

/* ================ Hero Section Styling =============== */

#hero {
    position: relative;
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
}

#hero > img {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (width <= 960px) {
    #hero {
        height: calc(100vh - 5.5 * var(--unit-size));
    }
}

/* ================ Bio Section Styling ================ */

#bio-content {
    flex-flow: row nowrap;
    align-items: center;
    font-size: var(--unit-size-2);
    gap: var(--unit-size-4);
    line-height: var(--unit-size-3);
}

#bio-content img {
    height: 12rem;
    border-radius: var(--radius-full);
    aspect-ratio: 1;
    object-fit: cover;
}

@media (width <= 700px) {
    #bio-content {
        flex-flow: row wrap;
        justify-content: center;
    }
}

/* ======= Experience/Education Section Styling ======== */

:is(#experience-content, #education-content) ol {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--unit-size-2);
    list-style: none;
}

:is(#experience-content, #education-content) li {
    gap: var(--unit-size);
}

:is(#experience-content, #education-content) .card-detail {
    justify-content: flex-start;
    gap: 0 var(--unit-size-2);
}

:is(#experience-content, #education-content) li > .card-detail {
    flex-wrap: nowrap;
}

:is(#experience-content, #education-content) li > div {
    width: fit-content;
}

:is(#experience-content, #education-content) h3 {
    font-family: var(--font-body);
    font-size: var(--font-size-large);
    line-height: var(--unit-size-3);
    text-transform: none;
}

:is(#experience-content, #education-content) pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* ======================= Misc ======================== */

.btn {
    width: fit-content;
    padding: var(--unit-size-1-2) var(--unit-size-2);
    border-radius: var(--radius-full);
    background-color: var(--colour-primary);
    color: var(--colour-on-primary);
    line-height: var(--unit-size-2);
}

.loader {
    display: block;
    width: var(--unit-size-2);
    border: var(--unit-size-1-2) solid var(--colour-border);
    border-radius: var(--radius-full);
    border-top: var(--unit-size-1-2) solid var(--colour-primary);
    margin: var(--unit-size-3) auto;
    animation: spin 2s linear infinite;
    aspect-ratio: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.html {
    color: #e34c26;
}

.css {
    color: #563d7c;
}

.ts {
    color: #3178c6;
}

/* ===================================================== */
